@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.icon {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
}

.map {
  display: flex;
  width: 100%;
  height: 100%;
}
.map_google_maps {
  position: fixed;
  width: 100%;
  height: 100%;
}
.map_marker_details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 0px;
  right: 10px;
  width: 300px;
  height: 100%;
  gap: 20px;
  z-index: 900;
}
.map_marker_details_bloc_settings {
  display: flex;
  gap: 15px;
}
.map_marker_details_img {
  height: 260px;
  width: 300px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.map_marker_details_bloc {
  display: none;
}
.map_marker_details_bloc.open {
  display: block;
  background-color: #2E2E2E;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
  flex-grow: 1;
  margin-bottom: 10px;
  width: 300px;
  transition: transform 0.5s ease-in-out;
  color: #fff;
}
.map_marker_details_components {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.map_marker_details_components_name {
  font-size: 16px;
  text-align: center;
}
.map_marker_details_components_boutons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.map_marker_details_components_title {
  font-size: 20px;
  font-weight: bold;
}
.map_marker_details_components_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}
.map_marker_details_components_field_title {
  font-size: 16px;
  font-weight: bold;
}
.map_marker_details_components_field_text {
  font-size: 14px;
  max-width: 130px;
  height: 19px;
  overflow-y: auto;
}
.map_marker_details_components_field_text::-webkit-scrollbar {
  display: none;
}
.map_settings {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 12px;
  gap: 20px;
  padding: 10px;
  background-color: #2E2E2E;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.map_settings_bloc_key.open {
  display: flex;
  position: absolute;
  top: 75px;
  right: 0px;
  z-index: 999;
}
.map_settings_bloc_key {
  display: none;
}
.map_settings_key {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2E2E2E;
  padding: 20px 10px;
  border-radius: 10px;
}
.map_settings_key input {
  background-color: transparent;
  height: 30px;
  width: 200px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Roboto";
  padding-left: 5px;
}
.map_settings_key span {
  position: absolute;
  background-color: #2E2E2E;
  left: 20px;
  top: 12px;
  font-size: 12px;
  color: #fff;
}
.map_settings_key::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  top: -10px;
  right: 12px;
  background-color: #2E2E2E;
}
.map_carousel {
  position: relative;
}
.map_carousel_bouton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  top: 50%;
  right: 10px;
  background-color: rgba(112, 117, 122, 0.7);
  z-index: 5;
}
.map_carousel_bouton img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
}
.map_carousel_bouton:nth-child(1) {
  transform: rotate(180deg);
  left: 10px;
}
.map_carousel_components {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.map_carousel_bloc_components {
  width: 300px;
  height: 260px;
  overflow: hidden;
}
.map_carousel_close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: rgba(112, 117, 122, 0.7);
  z-index: 5;
  cursor: pointer;
  top: 10px;
  left: 10px;
}
.map_carousel_close img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
}
.map_chargement {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 50px;
  background-color: #2E2E2E;
  z-index: 999;
  color: #fff;
}
.map_chargement_spinner {
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: #fff transparent #fff transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}
.map_filter {
  display: none;
}
.map_filter.open {
  display: flex;
  position: absolute;
  top: 75px;
  right: 0px;
}
.map_filter_components {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2E2E2E;
  width: 250px;
  border-radius: 10px;
  padding: 20px 10px;
  z-index: 999;
  gap: 15px;
  color: #fff;
}
.map_filter_components img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
  cursor: pointer;
}
.map_filter_components_radio {
  display: flex;
  margin: 10px auto;
  gap: 10px;
}
.map_filter_components_radio_button {
  display: flex;
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.map_filter_components_radio_button.checked::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #0DB760;
  border-radius: 50%;
}
.map_filter_components_radio_button.unchecked::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #FF420E;
  border-radius: 50%;
}
.map_filter_components_radio_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.map_filter_components_radio_content_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.map_filter_components_radio_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 12px;
  height: 20px;
  width: 40px;
}
.map_filter_components_radio_checkbox_button {
  display: flex;
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.5s ease-in-out;
}
.map_filter_components_radio_checkbox_button.checked {
  transform: translateX(-9px);
}
.map_filter_components_radio_checkbox_button.checked::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #0DB760;
  border-radius: 50%;
}
.map_filter_components_radio_checkbox_button.unchecked {
  transform: translateX(9px);
}
.map_filter_components_radio_checkbox_button.unchecked::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #FF420E;
  border-radius: 50%;
}
.map_filter_components_title {
  font-size: 18px;
  font-weight: bold;
}
.map_filter_components_select {
  background-color: #2E2E2E;
  border: 1px solid #70757A;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 10px;
}
.map_filter_components::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #2E2E2E;
  transform: rotate(45deg);
  position: absolute;
  top: -10px;
  right: 54px;
  z-index: 997;
}
.map_search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  z-index: 900;
}
.map_search_bloc {
  display: flex;
  position: relative;
}
.map_search_search_bar {
  width: 540px;
  height: 44px;
  background-color: #2E2E2E;
  border: 2px solid #70757A;
  border-radius: 12px;
  font-size: 16px;
  padding: 5px;
  color: #fff;
}
.map_search_suggestion {
  width: 540px;
  background-color: #2E2E2E;
  border: 2px solid #70757A;
  border-radius: 12px;
  margin-top: 3px;
  color: #fff;
}
.map_search_text {
  padding: 5px;
}
.map_search_text:hover {
  background-color: rgba(112, 117, 122, 0.2);
  border-radius: 12px;
}
.map_search_icons {
  position: absolute;
  top: 12px;
  right: 10px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
  cursor: pointer;
}
.map_cluster {
  background-color: rgba(0, 0, 255, 0.6);
  border: 1px solid black;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
}
.map_marker {
  filter: invert(43%) sepia(69%) saturate(524%) hue-rotate(166deg) brightness(92%) contrast(103%);
}

.bouton_marker_details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  min-width: 80px;
  background-color: rgba(112, 117, 122, 0.2);
  color: #fff;
  font-size: 16px;
  border-radius: 12px;
}

@keyframes spin {
  to {
    transform: rotate(720deg);
  }
}
.main {
  display: flex;
  position: relative;
}
.main_menu_burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 10px;
  width: 80px;
  height: 100%;
  gap: 20px;
  z-index: 910;
  height: 100vh;
}
.main_nokey {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  /*gap:50px;
  align-items: center;*/
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #242424;
  color: #fff;
}

.menu_burger {
  position: absolute;
  top: 10px;
  left: 18px;
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: #2E2E2E;
  border-radius: 12px;
  z-index: 910;
  color: #fff;
}
.menu_burger_components {
  position: absolute;
  top: 19px;
  left: 6px;
  width: 32px;
  height: 6px;
  border-radius: 20px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.menu_burger_components::after, .menu_burger_components::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 6px;
  border-radius: 20px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.menu_burger_components::before {
  transform: translateY(-10px);
}
.menu_burger_components::after {
  transform: translateY(10px);
}
.menu_burger_components.open {
  background-color: transparent;
}
.menu_burger_components.open::before {
  transform: rotate(45deg);
}
.menu_burger_components.open::after {
  transform: rotate(-45deg);
}
.menu_burger_content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #2E2E2E;
  width: 80px;
  margin: 10px 0;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  padding-top: 60px;
  gap: 20px;
}
.menu_burger_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  position: relative;
  background-color: #242424;
  color: #fff;
}
.dashboard_title {
  font-size: 28px;
  margin: 25px 0 50px 0;
}
.dashboard_bloc_stats {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.dashboard_text_stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  border-radius: 12px;
  border: 1px solid #70757A;
  background-color: #2E2E2E;
  color: #fff;
  width: 350px;
  padding: 10px;
  height: 250px;
}
.dashboard_text_stats h2 {
  font-size: 24px;
}
.dashboard_text_stats_inline_text {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.dashboard_text_stats_select {
  background-color: #2E2E2E;
  border: 1px solid #70757A;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 10px;
}
.dashboard_text_stats_info {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
}
.dashboard_text_stats_info_bloc {
  display: flex;
  gap: 10px;
}
.dashboard_text_stats_info_border {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.dashboard_text_stats_info_border > span {
  display: none;
}
.dashboard_text_stats_info_border:hover > span {
  display: flex;
  width: 160px;
  position: absolute;
  left: 25px;
  background-color: #2E2E2E;
  border: 1px solid #70757A;
  border-radius: 5px;
  padding: 5px;
  z-index: 5;
}
.dashboard_text_stats_img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
  cursor: pointer;
}
.dashboard_chart {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #70757A;
  background-color: #2E2E2E;
  color: #fff;
  width: 750px;
  height: 500px;
  padding: 10px;
}
.dashboard_chart_img {
  position: absolute;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
  cursor: pointer;
  right: 10px;
  bottom: 10px;
}
.dashboard_chart_box {
  width: 750px;
  height: 450px;
}
.dashboard_grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #70757A;
  background-color: #2E2E2E;
  color: #fff;
  width: 450px;
}
.dashboard_grid_img {
  width: 450px;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.dashboard_grid_bloc_text {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 5px 10px;
}
.dashboard_grid_graph {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard_grid_graph_img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
  cursor: pointer;
}
.dashboard_title_bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}
.dashboard_title_bloc_components {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  gap: 15px;
}
.dashboard_title_bloc_price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #3a3a3a;
  border: 1px solid #70757A;
  border-radius: 15px;
  width: 75px;
}
.dashboard_title_bloc_rent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 7px;
  background-color: #3a3a3a;
  border: 1px solid #70757A;
  border-radius: 15px;
  gap: 5px;
}
.dashboard_title_bloc_rent_red {
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
}
.dashboard_title_bloc_rent_orange {
  width: 7px;
  height: 7px;
  background-color: orange;
  border-radius: 50%;
}
.dashboard_title_bloc_rent_green {
  width: 7px;
  height: 7px;
  background-color: green;
  border-radius: 50%;
}
.dashboard_table {
  width: 99%;
  border-collapse: collapse;
}
.dashboard_table_th {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  white-space: nowrap;
}
.dashboard_table_th.first {
  justify-content: flex-start;
}
.dashboard_table_td {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-top: 1px solid #C9C9C9;
  gap: 10px;
  white-space: nowrap;
}
.dashboard_table_td.first {
  justify-content: flex-start;
}
.dashboard_bloc_select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}
.dashboard_bloc_select_component {
  background-color: #2E2E2E;
  border: 1px solid #70757A;
  border-radius: 5px;
  padding: 5px 0 0 10px;
}
.dashboard_bloc_select_component select {
  background-color: #2E2E2E;
  border: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.dashboard_select {
  background-color: #2E2E2E;
  border: 1px solid #70757A;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
}
.dashboard_bloc_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dashboard_bloc_pagination_components {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
  position: relative;
}
.dashboard_bloc_pagination_components_page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #2E2E2E;
  border: 1px solid #70757A;
  padding: 5px 7px;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
}
.dashboard_bloc_pagination_components_page.selected {
  background-color: #3a3a3a;
}
.dashboard_bloc_pagination_components_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2E2E2E;
  border: 1px solid #70757A;
  padding: 5px 7px;
  border-radius: 5px;
  height: 40px;
}
.dashboard_bloc_pagination_components_img img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
}
.dashboard_bloc_pagination_components_img.rotate {
  transform: rotate(180deg);
}
.dashboard_settings {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 12px;
  padding: 10px;
  background-color: #2E2E2E;
}
.dashboard_settings_key {
  display: none;
}
.dashboard_settings_key.open {
  display: flex;
  position: absolute;
  top: 75px;
  right: 10px;
  z-index: 900;
}
.dashboard_expand {
  width: 1518px;
  height: 900px;
}
.dashboard_expand_box {
  width: 1518px;
  height: 818px;
}
.dashboard_expand_switch {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.dashboard_expand_switch_bloc {
  width: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loyer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  position: relative;
  background-color: #242424;
  color: #fff;
}
.loyer_chart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #70757A;
  background-color: #2E2E2E;
  color: #fff;
  width: 800px;
  height: 500px;
  padding: 10px;
}
.loyer_chart_input_bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
}
.loyer_chart_input_bloc_components {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}
.loyer_chart_input {
  border: 1px solid #70757A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  padding: 5px 10px;
}
.loyer_chart_input p {
  font-size: 18px;
}
.loyer_chart_input_components {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loyer_chart_input_components p {
  font-size: 18px;
  font-weight: bold;
}
.loyer_chart_input_components input {
  background-color: #2E2E2E;
  border: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 5px;
  width: 200px;
}
.loyer_chart_input input {
  background-color: #2E2E2E;
  border: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 5px;
  width: 200px;
}
.loyer_chart input {
  background-color: #2E2E2E;
  border: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 5px;
  width: 200px;
}
.loyer_graph_loyer_cumule {
  position: relative;
  width: 328px;
  height: 200px;
}
.loyer_graph_interet {
  position: relative;
  width: 778px;
  height: 360px;
}
.loyer_bloc_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.loyer_checkbox {
  display: flex;
  align-items: center;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 40px;
  padding: 0 2px;
}
.loyer_checkbox_components {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}
.loyer_checkbox_components.true {
  background-color: green;
  transform: translateX(18px);
}
.loyer_checkbox_components.false {
  background-color: red;
}
.loyer_expand {
  display: none;
}
.loyer_expand_img {
  position: absolute;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
  cursor: pointer;
  right: 0;
  bottom: 0;
}
.loyer_expand_components {
  z-index: 1001;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #70757A;
  background-color: #2E2E2E;
  color: #fff;
  width: 1600px;
  height: 900px;
  padding: 10px;
}
.loyer_expand_components_img {
  position: absolute;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
  cursor: pointer;
  right: 10px;
  top: 10px;
}
.loyer_expand_components_sub {
  width: 100%;
  height: 100%;
}
.loyer_expand_chart {
  width: 100%;
  height: 820px;
}
.loyer_expand_title {
  width: 98%;
  display: flex;
  justify-content: space-between;
}
.loyer_expand_graph {
  z-index: 1001;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #70757A;
  background-color: #2E2E2E;
  color: #fff;
  width: 800px;
  height: 900px;
  padding: 10px;
}
.loyer_expand_graph_sub {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.loyer_expand_graph_components {
  position: relative;
  height: 339px;
  width: 389px;
}
.loyer_expand_graph_components img {
  position: absolute;
  bottom: 10px;
  right: 10px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
  cursor: pointer;
}
.loyer_expand_description {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.loyer_expand_description_sub {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loyer_expand_description_paragraph_bloc {
  display: flex;
  gap: 10px;
}
.loyer_expand_description_paragraph {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loyer_expand.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(29, 29, 29, 0.5);
  z-index: 1000;
  top: 0;
}
.loyer_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 35px;
}

.mobile_main {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile_main {
    display: flex;
    z-index: 10;
  }
  .mobile_main_bloc {
    background-color: #242424;
  }
  .mobile_main_key {
    display: none;
  }
  .mobile_main_key.open {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_menu_burger {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 900;
    background-color: #2E2E2E;
    width: 100%;
  }
  .mobile_menu_burger_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(143deg) brightness(103%) contrast(101%);
    margin: 10px;
    cursor: pointer;
    color: black;
  }
  .main_menu_burger {
    display: none;
  }
}
.mobile_marker_details {
  display: none;
}
.mobile_marker_details.open {
  position: absolute;
  bottom: 75px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2E2E2E;
  width: 288px;
  height: 80vh;
  z-index: 900;
  border-radius: 20px;
  color: white;
}

.mobile_search_map {
  display: flex;
  position: relative;
}

@media screen and (max-width: 768px) {
  .map_carousel_bloc_components {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 300px;
  }
  .map_carousel_components {
    display: flex;
    height: 120px;
    width: 300px;
  }
  .map_marker_details {
    bottom: -60px;
  }
  .map_marker_details_components {
    gap: 2px;
    font-size: 14px;
  }
  .map_marker_details_components_name {
    font-size: 14px;
  }
  .map_marker_details_components_title {
    font-size: 16px;
  }
  .map_marker_details_components_field_title {
    font-size: 14px;
  }
  .map_marker_details_components_field_text {
    font-size: 12px;
  }
  .map_marker_details_img {
    flex: 1 0 auto;
    height: 120px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .map_search {
    z-index: 20;
  }
  .map_search_search_bar {
    width: 55vw;
    height: 44px;
    background-color: #2E2E2E;
    border: 2px solid #70757A;
    border-radius: 12px;
    font-size: 16px;
    padding: 5px;
    color: #fff;
  }
  .map_search_suggestion {
    width: 80vw;
    background-color: #2E2E2E;
    border: 2px solid #70757A;
    border-radius: 12px;
    margin-top: 3px;
    color: #fff;
  }
  .map_search_bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .map_settings {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 12px;
    gap: 10px;
    padding: 10px;
    background-color: #2E2E2E;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  .map_settings_key::after {
    display: none;
  }
  .map_filter_components::before {
    right: 15px;
  }
}
.carousel_graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel_graph_bloc_components {
  display: flex;
  height: 350px;
  width: 85vw;
  overflow: hidden;
}
.carousel_graph_components {
  display: flex;
  height: 350px;
  width: 85vw;
  transition: transform 0.5s ease-in-out;
}

.mobile_table {
  display: flex;
  width: 100%;
  overflow: scroll;
}

@media screen and (max-width: 768px) {
  .dashboard_bloc_select {
    padding: 0 10px;
  }
  .dashboard_bloc_select_component select {
    font-size: 16px;
  }
  .dashboard_grid {
    width: 98vw;
    max-width: 450px;
  }
  .dashboard_grid_img {
    width: 98vw;
    max-width: 450px;
  }
  .dashboard_bloc_pagination {
    margin-bottom: 75px;
  }
  .dashboard_settings {
    display: none;
  }
  .dashboard_chart {
    width: 95vw;
  }
  .dashboard_chart_img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .loyer_chart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #70757A;
    background-color: #2E2E2E;
    color: #fff;
    width: 95vw;
    height: 500px;
    padding: 10px;
  }
  .loyer_chart_input_bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
  }
  .loyer_chart_input_bloc_components {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 10px;
  }
  .loyer_chart_input {
    border: 1px solid #70757A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 5px;
    padding: 5px 10px;
  }
  .loyer_chart_input p {
    font-size: 12px;
  }
  .loyer_chart_input_components {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loyer_chart_input_components p {
    font-size: 14px;
    font-weight: bold;
  }
  .loyer_chart_input_components input {
    background-color: #2E2E2E;
    border: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 5px;
    width: 200px;
  }
  .loyer_chart_input input {
    background-color: #2E2E2E;
    border: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 5px;
    width: 200px;
  }
  .loyer_chart input {
    background-color: #2E2E2E;
    border: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 5px;
    width: 200px;
  }
  .loyer_expand_graph {
    width: 90vw;
    height: 95vh;
  }
  .loyer_expand_graph_components {
    width: 90vw;
    height: 150px;
  }
  .loyer_expand_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .loyer_expand_description_sub {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .loyer_expand_description_sub h3 {
    font-size: 18px;
  }
  .loyer_expand_description_sub p {
    font-size: 12px;
  }
  .loyer_expand_description_paragraph_bloc {
    display: flex;
    gap: 10px;
  }
  .loyer_expand_description_paragraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .loyer_expand_img {
    display: none;
  }
  .loyer_graph_interet {
    position: relative;
    width: 95vw;
    height: 460px;
  }
}

/*# sourceMappingURL=style.css.map */
