.mobile_table
{
    display: flex;
    width: 100%;
    overflow: scroll;
}
@media screen and (max-width: 768px){
    .dashboard
    {
        &_bloc_select
        {
            padding: 0 10px;
            &_component select
            {
                font-size: 16px;
            }
        }
        &_grid
        {
            width: 98vw;
            max-width: 450px;
            &_img
            {
                width: 98vw;
                max-width: 450px;
            }
        }
        &_bloc_pagination
        {
            margin-bottom: 75px;
        }
        &_settings
        {
            display: none;
        }
        &_chart
        {
            width: 95vw;
            &_box
            {
                width: 92vw;
            }
            &_img
            {
                display: none;
            }
        }
        &_expand
        {
            width: 95vw;
            height: 85vh;
            &_box
            {
                width: 95vw;
                height: 80vh;  
            }
        }
    }
}